progress[value] {
  width: 200px;
  height: 5px;
  border: 0;
    -webkit-appearance: none;
   appearance: none;
position: absolute;
left: 25%;
top: 55%;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
}


input[type="range"] {
  /*display: block;*/
  -webkit-appearance: none;
  /*background-color: #bdc3c7;*/
    background-color: transparent;

  width: 200px;
  height: 7px;
  /*border-radius: 5px;*/
  margin: 0 auto;
  outline: 0;
position: absolute;
top: 53%;
left: 25%;
cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /*border: 2px solid white;*/
  cursor: pointer;
  transition: .3s ease-in-out;


}​
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
  }

 
 	

/* environnement styles */

.time-len {
	position: absolute;
	left: 33%;
}
.time-duration {
	position: absolute;
	left: 58%;
}
.a3o-wrap {
	border: 1px solid #ccc;
	max-width: 22em;
	/*padding: 0.4em;*/
	border-radius: 5em;
	/*background: #b6b6b626;*/
	background: #fff;
	color: #000;
	margin: 1em;
	position: relative;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
img {
	padding: 0;
	margin: 0;
}
.btn {
	font-family: inherit;
	color: #5d504f;
	/*    margin: 5px;
    padding: 8px 10px;
*/
	border-radius: 5em;
	background: #fff;
	border: 1px solid rgba(18, 7, 6, .2);
	display: inline-block;
	height: 40px;
	width: 40px;
}
.btn:hover {
	/*background: #ccc;*/
	color: #000;
	cursor: pointer;
}
.btn:focus,
button,
input:focus {
	outline: 0
}
img {
	max-width: 100%;
	vertical-align: middle;
}
@media only screen and (max-width: 600px) {
	.a30-wrap {
		padding: 0;
		margin: 0.25em;
		font-size: small;
	}
	body {
		background: #eeeeee82;
	}
	.btn:hover {
		background: #fff;
	}
	progress {
		top: 20px;
	}
	.time-len,
	.time-duration {
		font-size: small;
	}
}
