progress {
	-webkit-appearance: none;
	appearance: none;
	max-width: 50%;
	margin-left: 5px;
	position: absolute;
	top: 30px;
    left: 30%;
}
progress::-webkit-progress-bar {
	background-color: #ccc;
	border-radius: 5em;
}
progress::-webkit-progress-value {
	border-radius: 12px;
	background: #0890D2;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}
/* environnement styles */

.time-len {
	position: absolute;
	left: 33%;
}
.time-duration {
	position: absolute;
	left: 58%;
}
.hah-wrap {
	border: 1px solid #ccc;
	max-width: 22em;
	padding: 0.4em;
	border-radius: 5em;
	background: #b6b6b626;
	margin: 1em;
	position: relative;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
img {
	padding: 0;
	margin: 0;
}
.btn {
	font-family: inherit;
	color: #5d504f;
	/*    margin: 5px;
    padding: 8px 10px;
*/
	border-radius: 5em;
	background: #fff;
	border: 1px solid rgba(18, 7, 6, .2);
	display: inline-block;
	height: 40px;
	width: 40px;
}
.btn:hover {
	background: #ccc;
	color: #000;
	cursor: pointer;
}
.btn:focus,
button,
input:focus {
	outline: 0
}
img {
	max-width: 100%;
	vertical-align: middle;
}
@media only screen and (max-width: 600px) {
	.hah-wrap {
		padding: 0;
		margin: 0.25em;
		font-size: small;
	}
	body {
		background: #eeeeee82;
	}
	.btn:hover {
		background: #fff;
	}
	progress {
		top: 20px;
	}
}


.togglePlay {
  font: 0/0 a;
  background: #fff;
  color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /*margin: 10px auto 0;*/
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 150ms ease-out;
}
.togglePlay:after {
  box-sizing: border-box;
  display: block;
  content: '';
  width: 0;
  height: 0;
  margin-left: 8px;
  border-color: transparent;
  border-style: solid;
  border-top-width: 16px;
  border-bottom-width: 16px;
  border-left-width: 19px;
  /*border-left-color: rgba(255, 255, 255, 0.9);*/
  border-left-color: #0890D2;
}
/*.togglePlay:hover {
  transform: scale(1.05);
}*/
.togglePlay.active:after {
  width: 21px;
  height: 26px;
  margin-left: 0;
  border-width: 0 7px;
  /*border-color: rgba(255, 255, 255, 0.9);*/
  border-color: #0890D2;
}
