
input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 200px;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    border: 2px solid #999; /* 1 */
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: dodgerblue;
}

::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}

.qq{position: absolute;
	display: inline-block;
	width: 150px;
    position: relative;
    z-index: 1;
    height: 7px;
    padding: 0 11px;
    color: #fff;
    background-color: #4c5e82;
    font-family: "Gotham SSm",Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-size: 1.1rem;
    cursor: pointer;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out,-webkit-transform .25s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
        padding: 0 8px;
          background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  top: 5px;
  left: 5%;
  }
.www{   
 border-right: 2px solid #fff;
    position: absolute;
    z-index: 1;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0890D2;


    border-radius: 2px; 
  }


input[type="range"] {
  /*display: block;*/
  -webkit-appearance: none;
  /*background-color: #bdc3c7;*/
    background-color: transparent;

  width: 150px;
  height: 7.5px;
  /*border-radius: 5px;*/
  margin: 0 auto;
  outline: 0;
left: 25%;
top: 56%;
position: absolute;

}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /*border: 2px solid white;*/
  cursor: pointer;
  transition: .3s ease-in-out;
display: block;

}​
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
  }

 
progress[value] {
  width: 150px;
  height: 7px;
  border: 0;
    -webkit-appearance: none;
   appearance: none;
position: absolute;
left: 25%;
top: 55%;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/* environnement styles */

.time-len {
	position: absolute;
	left: 33%;
}
.time-duration {
	position: absolute;
	left: 58%;
}
.a3o-wrap {
	border: 1px solid #ccc;
	max-width: 22em;
	/*padding: 0.4em;*/
	border-radius: 5em;
	/*background: #b6b6b626;*/
	background: #fff;
	color: #000;
	margin: 1em;
	position: relative;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
img {
	padding: 0;
	margin: 0;
}
.btn {
	font-family: inherit;
	color: #5d504f;
	/*    margin: 5px;
    padding: 8px 10px;
*/
	border-radius: 5em;
	background: #fff;
	border: 1px solid rgba(18, 7, 6, .2);
	display: inline-block;
	height: 40px;
	width: 40px;
}
.btn:hover {
	/*background: #ccc;*/
	color: #000;
	cursor: pointer;
}
.btn:focus,
button,
input:focus {
	outline: 0
}
img {
	max-width: 100%;
	vertical-align: middle;
}
@media only screen and (max-width: 600px) {
	.a30-wrap {
		padding: 0;
		margin: 0.25em;
		font-size: small;
	}
	body {
		background: #eeeeee82;
	}
	.btn:hover {
		background: #fff;
	}
	progress {
		top: 20px;
	}
	.time-len,
	.time-duration {
		font-size: small;
	}
}
